html {
  font-family: "Open Sans";
}

.flex-container {
  width: 80%;
  margin: 2rem 10rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.jogadores {
  height: 500px;
}

.button {
  width: 80px;
  height: 50px;
  align-self: center;
}

.tiratime {
  font-family: "Pacifico";
  font-weight: 100;
}

textarea {
  resize: none;
  padding: 15px;
  font-family: "Open Sans";
}